.contact {
    /* border: red solid; */
    background-color: rgba(255, 255, 255, 0);
    width: 90%;
    height: 30rem;
    margin-left: 5%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 6px 6px 45px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 6px 45px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 6px 45px 0px rgba(0, 0, 0, 0.75);
}

#section5 {
    margin-top: 4rem;
    padding-bottom: 4rem;
    /* overflow-x: hidden; */
    height: 100vh;
}

.heading-con {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 4rem;
    margin-top: 4rem;
}


.heading-con h1 {
    font-size: 3rem;
    font-weight: 500;
    color: #FAFAFA;
}
.heading-con p{
    color: rgba(240, 248, 255, 0.538);
}

.contact-area {
    border-radius: 10px;
    height: 25rem;
    width: 40%;
    display: flex;
    justify-content: center;
    margin-left: 5rem;
}

.contact-area input {
    width: 17rem;
    height: 2.3rem;
    /* color: rgb(255, 0, 0); */
    font-size: 15px;
    font-weight: 100;
    padding-right: 1rem;
}

.contact-area input::placeholder,
.contact-area textarea::placeholder {
    color: rgba(255, 240, 240, 0.538);
    font-size: 15px;
    font-weight: 100;
}

.contact-area textarea::placeholder {
    padding-top: 5px;
}

.contact-area textarea {
    padding-top: 10px;
    color: #FAFAFA;
    font-size: 15px;
    font-weight: 100;
}

#con-name,
#con-email,
#con-subj,
#con-txarea {
    margin-top: 30px;
    border-radius: 1rem;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 1rem;
    border: rgb(109, 109, 109) solid;
}

#con-name:hover,
#con-email:hover,
#con-subj:hover,
#con-txarea:hover {
    /* background-color: #191919; */
    background-color: #3B3B3B;
    border: solid transparent;
    transition: all 300ms ease;
}

#con-name,
#con-btn {
    margin-top: 20px;
}

#con-btn {
    margin-left: 6rem;
    height: 2.3rem;
    width: 8rem;
    padding: 5px;
    background: transparent;
    border: #3B3B3B solid;
    color: #FAFAFA;
    font-size: 20px;
    font-weight: 100;
    border-radius: 15px;
    transition: all 0.60s;
}

#con-btn:hover {
    background: transparent;
    background-color: #3B3B3B;
    color: #FAFAFA;
}

.location-area {
    border-radius: 10px;
    height: 25rem;
    width: 40%;
    display: block;
}

/* .location-area div {
    margin-top: 2.2rem;
}

#Location-con h1,
#Email-con h1,
#Call-con h1 {
    padding-left: 3rem;
    font-size: 2rem;
    font-weight: 400;
}

#Location-con p,
#Email-con p,
#Call-con p {
    margin: 1rem 0rem 0rem 0rem;
    padding-left: 5rem;
    font-size: 1.3rem;
} */


.location-area iframe {
    width: 400px;
    height: 400px;
    border-radius: 28px;
    -webkit-box-shadow: 6px 6px 45px 0px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 6px 6px 45px 0px rgba(0, 0, 0, 0.19);
    box-shadow: 6px 6px 45px 0px rgba(0, 0, 0, 0.19);
}

.emailaddress-main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:4rem;
    padding-bottom: 3rem;
}

.emailaddress{
    width: 20rem;
    height: 3rem;
    border: 2px solid gray;
    /* color: #FAFAFA; */
    border-radius: 20px;
    transition: all 300ms ease;
}

.emailaddress:hover{
    .eaddress p,img{
        opacity: 0.8;
    }  
}

.eaddress{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    transition: all 300ms ease;
}

.eaddress img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.eaddress p{
    color: rgba(240, 248, 255, 0.538);
}

.con-footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0rem 1rem 0rem;
}

.con-social-icon {
    /* background-color: rgb(152, 152, 152); */
    background-color: rgba(106, 106, 106, 0.524);
    backdrop-filter: blur(8px);
    border-radius: 5px;
    width: 20rem;
    height: 2.5rem;
    /* margin-top: 5rem; */
}

.con-social-icon img {
    width: 25px;
    height: 25px;
    padding: 0.5rem 1rem 0.5rem 1.4rem;
    transition: all 300ms ease;
}

.con-social-icon img:hover {
    /* color: rgb(185, 181, 181); */
    /* filter: drop-shadow(-10px 3px 1px rgba(0, 0, 0, 0.319)); */
    filter: drop-shadow(10px 5px 2px rgb(42, 41, 41));
    /* transform: rotateY(180deg); */
}



.notification-main{
    /* transform: translate(100%); */
    transition: all 3s;
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.noti{
    z-index: 333;
    width: 30%;
    height: 4rem;
    background-color: #5a5a5a81;
    backdrop-filter: blur(8px);
    border-radius: 15px;
    position: fixed;
    top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noti img{
    width: 30px;
    height: 30px;
    padding-right: 0.5rem;
}
.noti h3{
    color: #FAFAFA;
    font-weight: 500;
    font-size: 22px;
}

@media screen and (max-width: 575.5px) {

    .noti{
        width: 90%;
        height: 4.1rem;
        border-radius: 13px;
    }
    #section5 {
        margin-top: 0rem;
        width: 100%;
        height: 100%;
        padding-bottom: 2rem;
        margin-top: 0rem;
        overflow-x: hidden;
        scroll-behavior: smooth;

    }

    .heading-con{
        margin-top: 0rem;
    }

    .emailaddress-main{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:30rem;
        padding-bottom: 3rem;
    }

    .contact {
        /* background-color: rgb(212, 18, 18); */
        border: none;
        border-radius: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }


    .location-area {
        margin-top: -5rem;
        margin-right: 12.5rem;

    }

    .contact-area {
        margin-top: -3rem;
        padding-bottom: 3rem;
        top: 32rem;
        left: 6rem;
        position: absolute;
        z-index: 23;
    }

    .contact-area input {
        width: 17rem;
        height: 2.3rem;
        /* color: rgb(63, 62, 62); */
        font-size: 15px;
        font-weight: 400;
        padding-right: 1rem;
    }

    .contact-area input::placeholder,
    .contact-area textarea::placeholder {
        /* color: rgb(63, 62, 62); */
        font-size: 15px;
        font-weight: 400;
    }

    .contact-area textarea::placeholder {
        padding-top: 5px;
    }

    .contact-area textarea {
        padding-top: 10px;
        /* color: rgb(63, 62, 62); */
        font-size: 15px;
        font-weight: 100;
        width: 17.8rem;
        height: 7rem;
    }

    #con-btn {
        font-weight: 400;
        margin-left: 5.9rem;
    }

    @media screen and (max-width: 551px) {}

    @media screen and (max-width: 531px) {
        .location-area {
            margin-right: 13rem;
        }

        .contact-area {
            top: 32rem;
            left: 5rem;
        }

        .contact-area textarea {
            padding-top: 10px;
            /* color: rgb(63, 62, 62); */
            font-size: 15px;
            font-weight: 100;
            width: 17.8rem;
            height: 7rem;
        }
    }

    @media screen and (max-width: 500px) {}

    @media screen and (max-width: 481px) {
        .location-area {
            margin-right: 14rem;

        }

        .contact-area {
            top: 32rem;
            left: 4rem;
        }
    }
    
    /* @media screen and (max-width: 561px) {
        .location-area {
            margin-right: 15rem;

        }
        .contact-area {
            top: 40rem;
            left: 3rem;
        }
    } */

    @media screen and (max-width: 446px) {
        .emailaddress-main{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top:3rem;
            padding-bottom: 3rem;
        }

        .location-area iframe {
            width: 300px;
            height: 300px;
        }

        .location-area {
            margin-right: 9rem;
        }

        .contact-area {
            top: 25rem;
            left: 3rem;
        }
        .emailaddress-main{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top:22rem;
            padding-bottom: 2rem;
        }
    }

    @media screen and (max-width: 421px) {
        .location-area {
            margin-right: 10rem;

        }

        .contact-area {
            left: 2.6rem;
        }

        .emailaddress-main{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top:22rem;
            padding-bottom: 2rem;
        }
    }

    @media screen and (max-width: 401px) {
        .location-area {
            margin-right: 10rem;

        }

        .contact-area {
            left: 2.6rem;
        }
    }

    @media screen and (max-width: 381px) {
        .location-area {
            margin-right: 11rem;

        }

        .contact-area {
            left: 2.2rem;
        }
    }

    @media screen and (max-width: 371px) {
        .location-area {
            margin-right: 11.5rem;

        }

        .contact-area {
            left: 2rem;
        }

    }

    @media screen and (max-width: 361px) {}

    @media screen and (max-width: 351px) {
        .location-area {
            margin-right: 11.5rem;

        }

        .contact-area {
            left: 1.5rem;
        }
    }

    @media screen and (max-width: 331px) {
        .location-area iframe {
            width: 250px;
            height: 250px;
        }

        .location-area {
            margin-right: 8.5rem;
        }

        .contact-area {
            left: 1rem;
            top: 22rem;
        }

        .contact-area input {
            width: 14rem;
            height: 2.3rem;
            /* color: rgb(63, 62, 62); */
            font-size: 15px;
            font-weight: 100;
            padding-right: 1rem;
        }

        .contact-area input::placeholder,
        .contact-area textarea::placeholder {
            /* color: rgb(63, 62, 62); */
            font-size: 15px;
            font-weight: 100;
        }

        .contact-area textarea::placeholder {
            padding-top: 5px;
        }

        #con-txarea {
            width: 14.8rem;
        }

        #con-btn {
            margin-left: 4.2rem;
        }

        .emailaddress-main{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top:20rem;
            padding-bottom: 3rem;
        }
    }

    @media screen and (max-width: 321px) {
        .location-area {
            margin-right: 9rem;
        }

        .contact-area {
            left: 0.8rem;
            top: 23rem;
        }
        
        .emailaddress-main{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top:20rem;
            padding-bottom: 3rem;
        }
    }

    @media screen and (max-width: 311px) {
        .emailaddress{
            width: 15rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .emailaddress img{
            width: 2rem;
        }
        .emailaddress p{
            font-size: 1rem;
        }
    }

    @media screen and (max-width: 301px) {
        .location-area iframe {
            width: 220px;
            height: 220px;
        }

        .location-area {
            margin-right: 7rem;
        }

        .contact-area {
            left: 0.5rem;
            top: 20rem;
        }

        .contact-area input {
            width: 11rem;
            height: 2.3rem;
            /* color: rgb(63, 62, 62); */
            font-size: 15px;
            font-weight: 100;
            padding-right: 1rem;
        }

        .contact-area input::placeholder,
        .contact-area textarea::placeholder {
            /* color: rgb(63, 62, 62); */
            font-size: 15px;
            font-weight: 100;
        }

        .contact-area textarea::placeholder {
            padding-top: 5px;
        }

        #con-txarea {
            width: 11.8rem;
        }

        #con-btn {
            margin-left: 2.5rem;
        }

        .emailaddress-main{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top:17rem;
            padding-bottom: 3rem;
        }
    }
}

@media (min-width: 576px) and (max-width: 767.5px) {

    #section5 {
        margin-top: 0rem;
        /* overflow: scroll; */
        /* overflow-x: hidden; */

    }

    .heading-con{
        margin-top: 0rem;
    }

    .emailaddress-main{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:31rem;
        padding-bottom: 3rem;
        /* background-color: aqua; */
    }

    .contact {
        /* background-color: rgb(212, 18, 18); */
        border: none;
        border-radius: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }


    .location-area {
        margin-top: -5rem;
        margin-right: 8rem;

    }

    .contact-area {
        margin-top: -10rem;
        padding-bottom: 3rem;
        top: 40rem;
        left: 9rem;
        position: absolute;
        z-index: 23;
    }

    .contact-area input {
        width: 17rem;
        height: 2.3rem;
        /* color: rgb(63, 62, 62); */
        font-size: 15px;
        font-weight: 100;
        padding-right: 1rem;
    }

    .contact-area input::placeholder,
    .contact-area textarea::placeholder {
        /* color: rgb(63, 62, 62); */
        font-size: 15px;
        font-weight: 400;
    }

    .contact-area textarea::placeholder {
        padding-top: 5px;
    }

    .contact-area textarea {
        padding-top: 10px;
        /* color: rgb(63, 62, 62); */
        font-size: 15px;
        font-weight: 100;
        width: 17.8rem;
        height: 7rem;
    }

    #con-btn {
        font-weight: 400;
        margin-left: 5.9rem;
    }

    @media (min-width: 576px) and (max-width: 731px) {
        .location-area {
            margin-right: 9rem;

        }

        .contact-area {
            left: 8rem;
        }
    }

    @media (min-width: 576px) and (max-width: 671px) {
        .location-area {
            margin-right: 12rem;

        }

        .contact-area {
            left: 6rem;
        }
    }

    @media (min-width: 576px) and (max-width: 591px) {}
}

@media (min-width: 768px) and (max-width: 992.5px) {

    #section5 {
        margin-top: 0rem;
    }

    .heading-con{
        margin-top: 0rem;
    }

    .contact-area {
        border-radius: 10px;
        height: 25rem;
        width: 40%;
        display: flex;
        justify-content: center;
        margin-left: 5rem;
    }

    .contact-area input {
        width: 17rem;
        height: 2.3rem;
        /* color: rgb(63, 62, 62); */
        font-size: 15px;
        font-weight: 100;
        padding-right: 1rem;
    }

    .contact-area input::placeholder,
    .contact-area textarea::placeholder {
        /* color: rgb(63, 62, 62); */
        font-size: 15px;
        font-weight: 100;
    }

    .contact-area textarea::placeholder {
        padding-top: 5px;
    }

    .contact-area textarea {
        padding-top: 10px;
        /* color: rgb(63, 62, 62); */
        font-size: 15px;
        font-weight: 100;
        width: 18rem;
    }

    .location-area iframe {
        width: 400px;
        height: 400px;
    }

    @media (min-width: 768px) and (max-width: 953px) {
        .contact-area {
            margin-left: 6rem;
        }
    }

    @media (min-width: 768px) and (max-width: 931px) {
        .contact-area {
            margin-left: 7rem;
        }
    }

    @media (min-width: 768px) and (max-width: 901px) {}

    @media (min-width: 768px) and (max-width: 861px) {
        #section5 {
            margin-top: 0rem;
        }

        .contact-area {
            border-radius: 10px;
            height: 25rem;
            width: 40%;
            display: flex;
            justify-content: center;
            margin-left: 5rem;
        }

        .contact-area input {
            width: 17rem;
            height: 2.3rem;
            /* color: rgb(63, 62, 62); */
            font-size: 15px;
            font-weight: 100;
            padding-right: 1rem;
        }

        .contact-area input::placeholder,
        .contact-area textarea::placeholder {
            /* color: rgb(63, 62, 62); */
            font-size: 15px;
            font-weight: 100;
        }

        .contact-area textarea::placeholder {
            padding-top: 5px;
        }

        .contact-area textarea {
            padding-top: 10px;
            /* color: rgb(63, 62, 62); */
            font-size: 15px;
            font-weight: 100;
            width: 18rem;
        }

        .location-area iframe {
            width: 350px;
            height: 350px;
            margin-top: 1.5rem;
        }
    }

    @media (min-width: 768px) and (max-width: 831px) {}

    @media (min-width: 768px) and (max-width: 821px) {
        .contact-area input {
            width: 15rem;
            height: 2.3rem;
            /* color: rgb(63, 62, 62); */
            font-size: 15px;
            font-weight: 100;
            padding-right: 1rem;
        }

        .contact-area input::placeholder,
        .contact-area textarea::placeholder {
            /* color: rgb(63, 62, 62); */
            font-size: 15px;
            font-weight: 100;
        }

        .contact-area textarea::placeholder {
            padding-top: 5px;
        }

        .contact-area textarea {
            padding-top: 10px;
            /* color: rgb(63, 62, 62); */
            font-size: 15px;
            font-weight: 100;
            width: 16rem;
        }

        #con-btn{
            margin-left: 5rem;
        }

        .location-area iframe {
            width: 320px;
            height: 320px;
            margin-top: 2.5rem;
        }
    }

    @media (min-width: 768px) and (max-width: 791px) {}

    @media (min-width: 768px) and (max-width: 771px) {}
}

@media (min-width: 993px) and (max-width: 1200.5px) {

    .contact-area {
        margin-right: 1rem;
        /* background-color: aqua; */
    }

    .location-area{
        margin-left: 5rem;
        /* background-color:antiquewhite; */
    }

    @media (min-width: 993px) and (max-width: 1151px) {
        .contact-area {
            margin-right: 2rem;
            /* background-color: aqua; */
        }
    
        .location-area{
            margin-left: 5rem;
            /* background-color:antiquewhite; */
        }
    }

    @media (min-width: 993px) and (max-width: 1081px) {
        .contact-area {
            margin-right: 4rem;
            /* background-color: aqua; */
        }
    
        .location-area{
            margin-left: 5rem;
            /* background-color:antiquewhite; */
        }
    }

    @media (min-width: 993px) and (max-width: 1021px) {
        .contact-area {
            margin-right: 4rem;
            /* background-color: aqua; */
        }
    
        .location-area{
            margin-left: 4.5rem;
            /* background-color:antiquewhite; */
        }
    }
}


@media (min-width: 1201px) and (max-width: 1400.5px){
    .contact-area {
        margin-right: 6rem;
        /* background-color: aqua; */
    }

    .location-area{
        margin-left: 10rem;
        /* background-color:antiquewhite; */
    }
}